/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-slider .slick-dots li button {
  margin: 0 3px;
  font-size: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #dddddd;
}

.slick-slider .slick-dots li.slick-active button {
  background-color: #c0301c;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  display: table;
  content: '';
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  color: #555555;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Arial";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Arial";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
textarea {
  border: 1px solid #555555;
  padding: 11px 17px;
  height: 42px;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid #c0301c;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  visibility: hidden;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  visibility: hidden;
}

input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
  visibility: hidden;
}

input:focus::placeholder,
textarea:focus::placeholder {
  visibility: hidden;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #7f7f7f;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #7f7f7f;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #7f7f7f;
}

input::placeholder,
textarea::placeholder {
  color: #7f7f7f;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  overflow: hidden;
  max-width: 1170px;
  padding: 100px 15px;
  margin: 0 auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-section {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.home-section__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home-section__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.header-container {
  overflow: hidden;
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  margin: 35px auto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.menu__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #fff;
  margin: 0 0 0 35px;
}

.headline {
  position: absolute;
  top: 40%;
  left: 50%;
  color: #ffffff;
  text-align: center;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  /* .headline__title */
  /* .headline__subtitle */
  /* .headline__button */
}

.headline__title {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0 0 33px 0;
}

.headline__subtitle {
  font-size: 20px;
  margin: 0 0 55px 0;
}

.headline__button {
  text-transform: uppercase;
  display: inline-block;
  border: 3px solid #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 20px 35px;
}

.button__link {
  color: #ffffff;
}

.content {
  font-size: 14px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.services__column {
  text-align: center;
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
}

.chapter {
  text-align: center;
  margin: 0 0 70px 0;
}

.chapter__title {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0 30px 0;
}

.chapter__title:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -25px;
  background-color: #555555;
}

.chapter__subtitle {
  margin: 30px 0 0 0;
  font-size: 16px;
}

.item-services__icon {
  width: 90px;
  height: 90px;
  border: 2px solid #dddddd;
  border-radius: 50%;
  margin: auto;
  position: relative;
  margin: 0 auto 30px;
}

.item-services__icon > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
}

.item-services__icon_red {
  background-color: #c0301c;
}

.item-services__title {
  margin: 0 auto 20px;
}

.item-services__text {
  line-height: 24px;
}

.about-us {
  background-color: #f7f8f7;
}

.about-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px 50px;
}

.about-us__column {
  padding: 0 22.5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.text-about-us {
  line-height: 24px;
}

.works-subtitle__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.works-subtitle__links > li {
  padding: 0 15px;
}

.works-subtitle__links > li > a {
  color: #555555;
}

.works-subtitle__links > li > a:hover {
  color: #c0301c;
}

.works__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__item {
  padding: 15px;
}

.works-body {
  position: relative;
}

.works-body__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(185, 18, 18, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.works-body__hover:hover {
  opacity: 1;
}

.works-body__list {
  position: absolute;
  text-align: center;
  color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.works-body__title {
  font-size: 18px;
  margin: 0 0 15px 0;
}

.works-body__subtitle {
  font-size: 12px;
  margin: 0 0 15px 0;
}

.works-body__link {
  background-color: #fff;
  padding: 13px 8px;
}

.works-body__link > a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #c0301c;
  font-weight: 700;
}

.middle {
  position: relative;
  background: url("../img/Middle/BG_middle.png") center/cover no-repeat;
  width: 100%;
  height: 369px;
  /* .middle__item */
  /* .middle__text */
  /* .middle__button */
}

.middle__bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(185, 18, 18, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.middle__item {
  position: absolute;
  text-align: center;
  max-width: 460px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.middle__text {
  font-size: 30px;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 35px 0;
}

.middle__button {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  border: 3px solid #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 20px 35px;
}

.middle a {
  color: #ffffff;
}

.item-post {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 100px 0;
}

.item-post::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: -50px;
  background-color: #555;
}

.item-post:last-child {
  margin: 0;
}

.item-post:last-child::after {
  content: '';
  height: 0;
  bottom: 0;
}

.item-post__column-img {
  width: 100%;
}

.item-post__column-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.item-post__column-content {
  padding: 0 0 0 40px;
}

.item-post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}

.item-post__data {
  min-width: 75px;
  height: 75px;
  border: 1px solid #000;
  text-align: center;
  padding: 13px 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.item-post__data p:first-child {
  font-size: 24px;
  line-height: 30px;
  color: #777777;
}

.item-post__title {
  padding: 10px 0 0 27px;
}

.item-post__title p:first-child {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #c0301c;
}

.item-post__title p:last-child {
  font-size: 13px;
  line-height: 24px;
  font-style: italic;
}

.item-post__title p:last-child span {
  color: #c0301c;
}

.item-post__text {
  margin: 0 0 32px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}

.item-post__read-more {
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.item-post__read-more a {
  color: #c0301c;
}

.clients {
  background-color: #f8f8f8;
}

.clients__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 65px 0;
}

.clients__icons div {
  padding: 0 33px;
}

.slider-clients__text {
  text-align: center;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
  max-width: 765px;
}

.slider-clients__author {
  text-align: center;
  margin: 0 auto 40px;
  font-size: 20px;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__info {
  padding: 10px 0;
}

.block-info {
  margin: 0 0 30px 0;
}

.block-info__title {
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0 0 30px;
}

.block-info__title.address {
  background: url("../img/Clients/Icons/Clients_icon_1.png") 0 5px no-repeat;
}

.block-info__title.hotline {
  background: url("../img/Clients/Icons/Clients_icon_2.png") 0 5px no-repeat;
}

.block-info__title.email {
  background: url("../img/Clients/Icons/Clients_icon_3.png") 0 10px no-repeat;
}

.block-info__text {
  font-size: 12px;
  line-height: 20px;
  padding: 0 0 0 30px;
}

.block-form {
  width: 100%;
  max-width: 730px;
  margin: 0 -17px;
}

.block-form__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-form__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-form__textarea {
  padding: 11px 17px;
}

.block-form__message {
  min-height: 100px;
}

.block-form__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-form__send-message {
  background-color: #fff;
  text-transform: uppercase;
  color: #555;
}

.block-form__note {
  padding: 0 0 0 40px;
}

.block-form__note span {
  color: #c0301c;
}

.inputs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inputs-block div {
  width: 100%;
  padding: 11px 17px;
}
